<%- include('partials/header'); -%>
      <div class="details row">
        <table class="table table-sm table-hover">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Course Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>1000</td>
              <td>2000</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>1000</td>
                <td>2000</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>1000</td>
                <td>2000</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>1000</td>
                <td>2000</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>1000</td>
                <td>2000</td>
              </tr>
            
          </tbody>
        </table>
      </div>
<%- include('partials/footer'); -%>
