.card-img-tops {
  height: 100px;
  width: 175px;
}
.det {
  height: 150px;
  padding-left: 0px;
  text-align: left;
}
.courses-title {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-size: 15px;
  color: white;
  text-align: left;
  height: 50px;
}
.cardss {
  border: 0;
  background-color: transparent;
  margin: 10px;
}
.prices {
  font-weight: 900;
  font-size: 13px;
  text-align: left;
  color: white;
}
.coursess {
  margin: 20px 75px 50px 75px;
}
.programming {
  color: white;
  text-align: left;
  margin: 15px;
  font-weight: 900;
}
.cust-footer {
  position: unset;
  bottom: unset;
}
#whole {
  margin-bottom: 100px;
}
