.info {
  color: #ffffff;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
  width: 40%;
  font-size: 25px;
}
.c {
  color: white;
  font-weight: 900;
}
h2 {
  font-family: "Pacifico", cursive;
  font-size: 25px;
  color: white;
}
#carouselExampleCaptions {
  width: 50%;
  height: 50%;
  margin-left: 25%;
}
.let {
  text-align: center;
}
.carousel-caption{
  font-family: "Merriweather", serif;
  color: rgb(255, 255, 255);
  font-weight: 900;
}