<%- include('partials/header'); -%>
      <div class="about row">
        <h1>About Us</h1>
        <p>
          Putting a face to your brand helps to humanize it, communicate your
          company culture, and shine a light on the people who power your
          business. Even if you only highlight the founders, your About Us page
          can be a chance to build your personal brand and share how your story
          and experience makes you and your company a good fit to serve your
          market.
        </p>
      </div>

<%- include('partials/footer'); -%>