<%- include('partials/header'); -%>
      
      <div class="info">
        <h1>
          Maximise your profit with<br />
          our Credit Union scheme
        </h1>
        <h3>
          Apply for your next short term loan or investment with <br />our
          skilled advisor
        </h3>
        <div class="row">
          <div class="col-6 text-left">
            <div class="previous">
              <button class="signbtn btn btn-primary" onclick="location.href='/signup' "type="submit">
                <span class="glyphicon glyphicon-chevron-left"
                  >Create a account</span
                >
              </button>
            </div>
          </div>
          <div class="col-6 text-right">
            <div class="next">
              <button class="signbtn btn btn-primary" onclick="location.href='/login'" type="submit">
                <span class="glyphicon glyphicon-chevron-left"
                  >Log In</span
                >
              </button>
            </div>
          </div>
        </div>
      </div>
<%- include('partials/footer'); -%>