body {
  background-color: #e8f0f2;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Playfair Display", serif;
  text-align: center;
}
.logout {
  margin-top: 30px;
  margin-bottom: 40px;
}
.logout h1 {
  padding: 10px;
}
.btn {
  width: 200px;
  height: 40px;
  padding: 3px;
  margin: 0px 20px 0px 20px;
}
footer {
  background-color: #f3f3f3;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.social {
  text-align: center;
  position: relative;
  top: 150px;
}
.social h1 {
  font-size: 30px;
}

.social-links {
  list-style: none;
  align-items: center;
}

.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.social-links li:last-child {
  margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}
.fab {
  transition: color 0.2s;
  font-size: 55px;
  margin: 20px;
  color: #0086be;
}
.fa-facebook:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-linkedin:hover {
  color: #dd4b39;
}
.fa-github:hover {
  color: #517fa4;
}
.fa-telegram:hover {
  color: #00adef;
}
